/appModules/__pycache__/
/appModules/lbl/__pycache__/
/appModules/lbl/api/__pycache__/
/appModules/lbl/api/ocr.png
/appModules/lbl/api/PIL/__pycache__/
/appModules/lbl/dsksaxophones/__pycache__/
/appModules/lbl/reaper/__pycache__/
/appModules/lbl/steevenslatedrummer5/__pycache__/
/appModules/sibiac/__pycache__/
